<form #template="ngForm" (ngSubmit)="submit(template.value)">
  <div class="container">
    <div class="mb-3">
      <h2 class="heading">Cloud Point</h2>
      <br>
      <label for="exampleInputEmail1" class="form-label auto"> <b>Select Country</b></label>
      <select class="form-control" name="country" [(ngModel)]="countrySelected"
        (ngModelChange)="onCountrySelected($event)">
        <option value="">Select</option>
        <option *ngFor="let country of listcountry" [value]="country.iso2">{{country.name}}</option>
  

      </select>

      <label class="form-label auto"> <b>Select State</b></label>
      <select class="form-control" name="state" [(ngModel)]="selectedState" (ngModelChange)="onStateSelected()">
        <option value="">Select</option>
        <option *ngFor="let state of listState" [value]="state.iso2">{{state.name}}</option>

      </select>



      <label class="form-label auto"> <b>Select City</b></label>
      <select class="form-control" name="city" ngModel>
        <option value="">Select</option>
        <option *ngFor="let city of listCity" [value]="city.id">{{city.name}}</option>

      </select>

      <button class="btn btn-danger" id="gst">Submit</button>
    </div>
    <div id="myDiv"></div>


    

    <div style="margin-left: 520px;"></div>
    <table class="">
      <thead>
        <tr>
          <th>Weather Climate </th>
          <th>Weather Description</th>
          <th>Weather Temperature</th>
          <th>Weather Pressure</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of array">
          <td>{{i.weather[0].main}}</td>
          <td>{{i.weather[0].description}}</td>
          <td>{{(i.main.temp)-273.15 | number: '1.0-0'}} °C</td>
          <td>{{i.main.pressure }} hPa</td>

        </tr>
      </tbody>
    </table>
  </div>

</form>
